.aurum-wallet-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.aurum-wallet-grid-row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.aurum-wallet-grid-row > * {
  flex: 1;
  min-width: 0;
}
